<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/objetsPostaux/src/objetsPostaux/MainPoste.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="objetsPostaux.MainPoste"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="objetsPostaux"/>
</launchConfiguration>
